{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>
      {% block title %}
        BioNutrex | Shop
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'dist/styles.css' %}" />
    <style>
      .remove-btn {
        background-color: #dc2626 !important; /* Tailwind red-600 */
        color: #fff !important;
      }
    </style>
    {% block styles %}

    {% endblock %}
  </head>
  <body>
    {% block banner %}

    {% endblock %}

    <header class="absolute top-0 left-0 w-full z-180">
      {% include 'includes/nav.html' %}
    </header>

    {% block content %}

    {% endblock %}
    <footer>
      {% include 'includes/footer.html' %}
      <div class="container mx-auto p-4">
        <p class="text-center text-gray-400">@2025 Quantum Code Ltd. Tdos los derechos reservados.</p>
      </div>
    </footer>
    {% block scriptsJS %}

    {% endblock %}
    <script>
      const btnEnviar = document.getElementById('contact-submit-button')
      btnEnviar.addEventListener('click', function (event) {
        event.preventDefault() // Evita el envío del formulario
        if (nombre && email && mensaje) {
          alert(`Gracias por contactarnos, ${nombre}!`)
          // Aquí podrías enviar el formulario si es necesario
        } else {
          alert('Por favor, completa todos los campos.')
        }
      })
    </script>
    <script>
      document.getElementById('miFormulario').addEventListener('submit', function (event) {
        event.preventDefault() // Prevenir el envío predeterminado
        alert('Formulario enviado!') // Mostrar el alert
        // Aquí puedes agregar tu lógica adicional, como enviar los datos del formulario mediante AJAX
      })
    </script>
    <!-- TODO: añadir breve Alert al formulario del footer -->
    <script>
      let ham_menu = document.getElementById('ham_menu')
      
      menuMobile.addEventListener('click', function () {
        ham_menu.classList.toggle('hidden')
      })
    </script>
  </body>
</html>
