{% extends 'base.html' %}
{% load static %}
{% block title %}
  Order Confirmation
{% endblock %}

{% block banner %}
  <section class="h-[72px]"></section>
{% endblock %}

{% block content %}
  <div class="shadow-md container flex flex-col mx-auto p-5 mb-4 mt-5 max-w-lg bg-white rounded-2xl">
    <h2 class="text-2xl font-bold mb-6 text-[#1E1E1E]">Checkout</h2>
    <form action="{% url 'orders:order_create' %}" method="post" class="space-y-5">
      {% csrf_token %}
      <div>
        <label for="{{ form.full_name.id_for_label }}" class="block text-[#1E1E1E] font-semibold mb-2">Nombre completo</label>
        {{ form.full_name }}
        {% if form.full_name.errors %}
          <p class="text-red-600 text-sm mt-1">{{ form.full_name.errors.0 }}</p>
        {% endif %}
      </div>
      <div>
        <label for="{{ form.email.id_for_label }}" class="block text-[#1E1E1E] font-semibold mb-2">Correo electrónico</label>
        {{ form.email }}
        {% if form.email.errors %}
          <p class="text-red-600 text-sm mt-1">{{ form.email.errors.0 }}</p>
        {% endif %}
      </div>
      <div>
        <label for="{{ form.address.id_for_label }}" class="block text-[#1E1E1E] font-semibold mb-2">Dirección</label>
        {{ form.address }}
        {% if form.address.errors %}
          <p class="text-red-600 text-sm mt-1">{{ form.address.errors.0 }}</p>
        {% endif %}
      </div>
      <button class="bg-green-500 text-white px-5 py-2 rounded-lg font-semibold hover:bg-green-600 transition-colors w-full mt-4" type="submit">Ordenar</button>
    </form>
  </div>
{% endblock %}
