{% extends 'base.html' %}

{% block title %}
  Order Confirmation
{% endblock %}

{% block styles %}
  <style>
    form p {
      margin-bottom: 1rem;
    }
  </style>
{% endblock %}

{% block banner %}
  <section class="h-[72px]"></section>
{% endblock %}

{% block content %}
  <div class="bg-gray-100 shadow-md container flex flex-col mx-auto p-5 mb-4 mt-5">
    <h2 class="text-2xl font-bold">Checkout:</h2>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="bg-green-500 text-white px-5 py-2 mt-3 rounded hover:bg-green-600 mb-5" type="submit">Ordenar</button>
    </form>
  </div>
{% endblock %}
